{% extends 'base.html' %}

{% block title %}Set Password{% endblock title %}

<!-- 
    Available contexts:
            - form: a form to set new password
            - validlink: {{validlink}} (bool)
 -->

{% block content %}

    <div class="ui grid">
        <div class="five wide column"></div>
        <div class="six wide column">
            
            <h2 class="ui black header">Set New Password</h2>
            
            <form class="ui form" method="POST">
                {% csrf_token %}
                {{form.as_p}}
            
                <input type="submit" class="ui teal fluid basic tiny button" value="Change Password">
            </form>
        </div>
    </div>
    
{% endblock content %}