{% extends 'base.html' %}

{% block title %}Change Password{% endblock title %}

<!-- 
    Available contexts:
        - form: a password change form
 -->

{% block content %}

    <div class="ui grid">
        <div class="five wide column"></div>
        <div class="six wide column">
            
            <h2 class="ui black header">Change Password</h2>
            
            <form class="ui form" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                
                <input class="ui tiny fluid teal basic button" type="submit" value="Change Password">
            </form>
        </div>
    </div>
    
{% endblock content %}