{% extends 'base.html' %}

{% block title %}Set Password{% endblock title %}

<!-- 
    Available contexts:
            - form: a form to set new password
            - validlink: {{validlink}} (bool)
 -->

{% block content %}

    <div class="ui grid">
        <div class="five wide column"></div>
        <div class="six wide column">
            {% if not validlink %}
            
                <div class="ui segment inverted red">
                    Invalid Request.
                </div>

            {% else %}
            
                {% if form.errors %}
                    <div class="ui warning message">
                        <i class="close icon"></i>
                        <div>
                            {{form.errors.new_password1}}
                        </div>
                        <div>
                            {{form.errors.new_password2}}
                        </div>
                    </div>
                {% endif %}

                <h2 class="ui black header">Set New Password</h2>
                
                <form class="ui form" method="POST">
                    {% csrf_token %}
                    <p>
                        {{form.new_password1.label}}
                        {{form.new_password1}}
                    </p>
                    <p>
                        {{form.new_password2.label}}
                        {{form.new_password2}}
                    </p>
                
                    <input type="submit" class="ui teal fluid basic tiny button" value="Change Password">
                </form>

            {% endif %}
        </div>
    </div>
    
{% endblock content %}

{% block scripts %}
    <script>
        $('.message .close')
            .on('click', function() {
                $(this)
                .closest('.message')
                .transition('fade')
                ;
            })
        ;
    </script>
{% endblock scripts %}