{% extends 'base.html' %}

{% block title %}Change Password{% endblock title %}

<!-- 
    Available contexts:
        - form: a password change form
 -->

{% block content %}

    <div class="ui grid">
        <div class="five wide column"></div>
        <div class="six wide column">
            {% if form.errors %}
                <div class="ui warning message">
                    <i class="close icon"></i>
                    <div>
                        {{form.errors.old_password}}
                    </div>
                    <div>
                        {{form.errors.new_password1}}
                    </div>
                    <div>
                        {{form.errors.new_password2}}
                    </div>
                </div>
            {% endif %}
            
            <h2 class="ui black header">Change Password</h2>
            
            <form class="ui form" method="POST">
                {% csrf_token %}
                <p>
                    {{form.old_password.label}}
                    {{form.old_password}}
                </p>
                <p>
                    {{form.new_password1.label}}
                    {{form.new_password1}}
                </p>
                <p>
                    {{form.new_password2.label}}
                    {{form.new_password2}}
                </p>
                
                <input class="ui tiny fluid teal basic button" type="submit" value="Change Password">
            </form>
        </div>
    </div>
    
{% endblock content %}

{% block scripts %}
    <script>
        $('.message .close')
            .on('click', function() {
                $(this)
                .closest('.message')
                .transition('fade')
                ;
            })
        ;
    </script>
{% endblock scripts %}